<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">{{ projet ? projet : '' }}</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                *authenticated="false"
                id="register"
                routerLink="/account/inscription"
                class="btn btn-info btn-sm"
                >Inscription</a
              >
            </li>
            <li class="nav-item">
              <button 
                *authenticated="true"
                id="logout"
                (click)="onDeconect()"
                class="btn btn-danger btn-sm
                ">
                Déconnexion
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container pt-5">
      <router-outlet></router-outlet>
    </div>
