<div class="bg-light rounded p-3">
      <h1>Créer un compte !</h1>
      <p>
        Vous pourrez alors gérer vos disponibiltés
      </p>
      <form [formGroup]="registerForm" (submit)="onSubmit()">
        <div>
          <label class="mb-1" for="name">Nom d'utilisateur</label>
          <input
            formControlName = "name"
            [class.is-invalid] = "name.invalid && name.dirty"
            type="text"
            placeholder="Votre nom d'utilisateur"
            name="name"
            id="name"
            class="mb-3 form-control"
          />
          <p class="invalid-feedback">Le nom d'utilisateur est obligatoire</p>
        </div>
        <div>
          <label class="mb-1" for="email">Adresse email</label>
          <input
            formControlName = "email"
            [class.is-invalid] = "email.invalid && email.touched"
            type="email"
            placeholder="Adresse email de connexion"
            name="email"
            id="email"
            class="mb-3 form-control"
          />
          <p class="invalid-feedback" *ngIf="email.hasError('required') || email.hasError('email')">L'adresse email doit être valide</p>
          <p class="invalid-feedback" *ngIf="email.hasError('uniqueEmail')">Cette adresse est déjà utilisé</p>
        </div>
        <div>
          <label class="mb-1" for="password">Mot de passe</label>
          <input
            [class.is-invalid] = "password.invalid && password.touched"
            formControlName = "password"
            type="password"
            placeholder="Votre mot de passe"
            name="password"
            id="password"
            class="mb-3 form-control"
          />
          <p class="invalid-feedback">
            Le mot de passe est obligatoire, doit faire entre 8 et 16 caractères
            contenir au moins 1 chiffre, 1 lettre minuscule, 1 lettre majuscule et 1 caractère spécial
          </p>
        </div>
        <div>
          <label class="mb-1" for="confirmPassword">Confirmation</label>
          <input
            formControlName = "confirmPassword"
            [class.is-invalid] = "(confirmPassword.invalid || registerForm.hasError('confirmPassword')) && confirmPassword.touched"
            type="password"
            placeholder="Confirmez votre mot de passe"
            name="confirmPassword"
            id="confirmPassword"
            class="mb-3 form-control"
          />
          <p class="invalid-feedback" *ngIf="confirmPassword.hasError('required')">
            La confirmation du mot de passe est obligatoire
          </p>
          <p class="invalid-feedback" *ngIf="registerForm.hasError('confirmPassword') && !confirmPassword.hasError('required')">
            La confirmation ne correspond pas au mot de passe
          </p>
        </div>
        <button disabled="registerForm.invalid" class="btn btn-success">Créer mon compte !</button>
      </form>
    </div>
