<div class="container" style="width: auto; margin-right: auto; margin-left: auto">
<div class="accordion" id="accordionExample">
  <div class="accordion-item" style="margin: 20px 5px;">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       Calendrier 
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Permet de notifier ses dispositions</strong> 
        <br />
        <p style="margin-top: 5px;">
            Chaque utilisateur faisant parti d'un groupe peut notifier ses disponibilités pour une réunion du groupe.
        </p>
      </div>
      <button type="button" class="btn btn-success" [routerLink]="(isLogged$ | async) ? '/calendar' : '/account/connexion'">Accéder</button>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Projet 2 
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>A venir .... </strong> 
      </div>
    </div>
  </div>
</div>
</div>

